.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  /* centre */
  text-align: center;
}

/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../public/bball.jpg'); /* Path to the image in the public folder */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: rgba(255, 140, 0, 0.7); /* Dark orange with 70% opacity */
  color: white;
  padding: 1em;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.google-map {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Add any additional styling for the basketball-themed color scheme */
/* App.css */

html, body {
  height: 100%;
  margin: 0;
}

/* Adjust the container size for smaller screens */
@media (max-width: 600px) {
  div {
    width: 100%;
  }
}
